<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="AccessKeyId" value="你的阿里云KeyID" />
    <add key="AccessKeySecret" value="你的阿里云Key密码" />
    <add key="DomainName" value="你的网站域名" />
    <add key="RR" value="前缀" />
    <add key="TTL" value="超时时间按照秒为单位（免费则改成120）" />
    <add key="IpServer" value="http://whatismyip.akamai.com" />
    <add key="ReTryTime" value="300000"/><!--单位毫秒-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>