<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="AccessKeyId" value="你的阿里云KeyID"/>
		<add key="AccessKeySecret" value="你的阿里云Key密码"/>
		<add key="DomainName" value="你的网站域名"/>
		<add key="RR4" value="ipv4前缀"/>
		<add key="RR6" value="ipv6前缀"/>
		<add key="TTL" value="超时时间按照秒为单位（免费则改成600）"/>
		<add key="Ip4Server" value="https://4.ipw.cn/"/>
		<add key="Ip6Server" value="https://6.ipw.cn/"/>
		<add key="ReTryTime" value="600000"/>
		<!--单位毫秒-->
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
</configuration>
